body{
    background-color: #e7e7e7;
}

#main-header{
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

}

#summary{
    margin: 7rem auto 2rem auto;
    width: 70%;
    /* max-width: 60rem; */
    background-color: #390281;
    display: flex;
    justify-content: space-around;
    height: 18rem;
    border-radius: 12px;
    color: #e7e7e7;
    border: 5px solid wheat;
}

article{
    margin: 2rem;
}

article img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top;
    border: 5px solid white;
    border-radius: 12px;
    background-color: wheat;
    transform: rotateZ(5deg);
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

#summary h2{
    color: #e7e7e7;
   
    font-size: 5rem;
}

main{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0rem auto;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
}